.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__top {
        text-align: center;
        margin-bottom: 50px;
        h2 {
            font-size: 28px;
            line-height: 33px;
            margin-bottom: 5px;
        }
        p {
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.1px;
            opacity: 0.5;
        }
    }

    &__register-link {
        text-align: center;
        display: block;
        color: #adadad;
    }

    &__success-block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 400px;
        text-align: center;
        h2 {
            margin-top: 20px;
        }
        p {
            color: #adadad;
        }
    }

    .button {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        width: 100%;
    }

    .block {
        width: 430px;
    }
}